{% extends 'dwapp/main.html' %}

{% block content %}
<div class="gradient-border" id="box">
    <h1 contenteditable='true' style="left: 19px; top: 10px; position: absolute;">Shooting Script</h1>
    <h5 style="left: 19px; top: 63px; position: absolute; color: #afafaf;">Project Title: </h5>
    <h5 contenteditable='true' style="left: 127px; top: 63px; position: absolute; color: #afafaf;">My Documentry</h5>
    <h5 style="left: 19px; top: 83px; position: absolute; color: #afafaf;">Duration:</h5>
    <h5 contenteditable='true' style="left: 101px; top: 83px; position: absolute; color: #afafaf;">1 Hour</h5>
    <h5 style="left: 19px; top: 105px; position: absolute; color: #afafaf;">TX Date: </h5>
    <h5 contenteditable='true' style="left: 91px; top: 105px; position: absolute; color: #afafaf;">1 Jan 2021</h5>
    <h4 style="left: 19px; top: 152px; position: absolute; color:white; font-weight: bolder;">Act </h5>
    <h4 contenteditable='true' style="left: 61px; top: 152px; position: absolute; color:white; font-weight: bolder;">1</h5>
    
    <table style="width: 94%; top: 184px; position: absolute; left: 20px;">
        <tr>
          <th style="width: 72px;">NO.</th>
          <th>MEDIA</th>
          <th>SCRIPT</th>
        </tr>
        <tr> 
          <td contenteditable='true'>01</td>
          <td><input type="file"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
          <td contenteditable='true'>50</td>
        </tr>
      </table>

{% endblock %}

